!!! XML
!!!

%html{html_attrs}
  %head
    %title= 'movie ranks'
    = stylesheets
    = javascripts
    = yield :more_javascript
    
  %body
    #banner
      = link_to 'movie ranks', root_path
    #main
      = yield
